{% extends 'base.html' %}

{% block content %}

        <body>

{#            <select onchange="if(this.value) location.href=(this.value);">#}
{#                <label><input type="radio" value="">홈페이지</label>#}
{#                <label><input type="radio" value="Member:member_list.html">People</label>#}
{#                <label><input type="radio" value="Chat:room_list.html">Chat</label>#}
{#            </select>#}

            <div>
                <div class="left">
                    <div class="left_header">
                        <div class="left_header1 lh_cell"><p class="lh_content">people</p>
{#                        <div><a hrdf="Member:member_list.html" name="top">People</a></div>#}
{#                        <a href="Member:member_list.html"> People </a>#}


                        </div>
                        <div class="left_header2 lh_cell"><p class="lh_content">chat</p>



                        </div>
                    </div>
                
                    <div class="left_body">
                        <select onchange="if(this.value) location.href=(this.value);">
                        <option value="">홈페이지</option>
                        <option value="Member/member_list.html">People</option>
                        <option value="Chat/list">Chat</option>
                        </select>

                        {% for member in members %}
                        <div class="left_body lb_profile">

                            {{ member.name }}  <a href="{% url 'Chat:dm' pk=member.pk %}">dm 보내기</a>
                        </div>

                        {% endfor %}


                    </div>
                </div>
                <div class="right">
                    <div class="member_info" style="height: 5%; float: left;">
                        <p>
                        {{member_info.location.si.name}} {{member_info.location.gu.name}} {{member_info.location.dong.name}}
                        </p>
                    </div>
                    <div id="map" style="width:100%; height: 95%; display: block;"></div>
                    <!-- 지도타입 컨트롤 div 입니다 -->
                </div>
            </div>
        <script>
            var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스

            var options = { //지도를 생성할 때 필요한 기본 옵션
                center: new kakao.maps.LatLng(37.462932227677896, 126.899851798148), //지도의 중심좌표.
                level: 6 //지도의 레벨(확대, 축소 정도)
            };
            var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴

            map.setZoomable(true);
            map.setDraggable(true);
                // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
            var zoomControl = new kakao.maps.ZoomControl();
            map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

            drawPolygon();

            function drawPolygon() {

                const jsonStr = "{{ json_data | escapejs }}".replaceAll("\'", "\"");
                const geoJson = JSON.parse(jsonStr);

                var data = geoJson.features;
                var name= '';

                $.each(data, function (index, val) {
                    {#name = val.properties.ADM_DR_NM;#}

                    displayArea(name, val.geometry.coordinates);
                });
            }

            function makeMultiPolygon(coordinates) {
                var paths = [];
                $.each(coordinates, function (index, val) {
                    var coordinates2 = [];

                    $.each(val[0], function (index2, coordinate) {
                        coordinates2.push(new kakao.maps.LatLng(coordinate[1], coordinate[0]));
                    });
                    paths.push(coordinates2);
                });

                return new kakao.maps.Polygon({
                    path: paths,
                    strokeWeight: 5,
                    strokeColor: '#FFBB00',
                    strokeOpacity: 1,
                    strokeStyle: 'solid',
                    fillColor: '#F5D300',
                    fillOpacity: 0.55
                });
            }

            function displayArea(name, coordinates) {
                var polygon = makeMultiPolygon(coordinates);

                polygon.setMap(map);
            }

            // 버튼 클릭에 따라 지도 이동 기능을 막거나 풀고 싶은 경우에는 map.setDraggable 함수를 사용합니다
            function setDraggable(draggable) {
                // 마우스 드래그로 지도 이동 가능여부를 설정합니다
                map.setDraggable(draggable);
            }
        </script>
{% endblock %}
