{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <div class="full">
        <div class="left">
            <div class="left_header">
                <p style="font-size: 13px; text-align:center; font-weight:bold; padding-top:15px; ">나와 관심사가 같은 서강대생을 찾아
                    이야기를 나누어 보세요!</p>
            </div>
            <div class="tab_menu">
                <div class="list">
                    <li class="is_on">
                        <a href="#people" class="btn">People</a>
                    </li>

                    <li>
                        <a href="#chat" class="btn">Chat</a>
                    </li>
                </div>
            </div>
            {#                        </div>#}
            <div class="left_body" id="left_body">
                {#                                <p style="padding-top:-10%; padding-bottom:-10%;">My</p>#}
                {% for member in members %}
                    <div id="people" class="lb_profile" style="display:block;">
                        <div class="people_img">
                            <img src="/static/images/default_profile.png" alt="sogang">
                            {{ member.profile_photo }}
                        </div>
                        {{ member.name }}
                        <span_studentN>{{ member.student_number }}학번</span_studentN>
                        <a href="javascript:enterDM({{ member.pk }})"
                           style="color: #F5D300; font-size:13px; float:right;">Dm 보내기</a>
                        <p class="people_info_txt">{{ member.location.si }} {{ member.location.gu }} {{ member.location.dong }}<br>
                            한줄소개: {{ member.introduction }}
                        </p>
                    </div>
                {% endfor %}
                <div id="chat" class="lb_profile" style="display:none;">
                    <button type="button" class="btn_chatroom" onclick="createChatRoom()">채팅방+</button>
                </div>
                {% for chat in chats %}
                    <div id="chat" class="lb_profile" style="display:none;">
                        <div class="people_img">
                            {#                                     <img src="/static/images/default_profile.png" alt="sogang">#}
                            {{ profile_photo }}
                        </div>
                        {{ chat.name }}
                        <span_studentN>{{ chat.creator.name }}</span_studentN>
                        <br>
                        <button class="btn_chatroom" onclick="enterChatRoom({{ chat.pk }})">입장하기</button>
                        <p class="people_info_txt">
                            <br>
                            인원 : {{ chat.participants.count }}명
                        </p>
                    </div>
                {% endfor %}
                {#                </div>#}
            </div>
        </div>

        <div class="right">
            <div class="member_info" style="height: 5%; float: left;">
                <input type="radio" name="range" id="gu" onclick="clickCheck(this.id)" checked="checked"
                       style="margin-top: 20px; margin-left: 5px"/> <span>구까지 범위 표시</span>
                <input type="radio" name="range" id="dong" onclick="clickCheck(this.id)"/> <span>동까지 범위 표시</span>
            </div>
            <div id="map" style="width:100%; height: 95%; display: block;"></div>
            <!-- 지도타입 컨트롤 div 입니다 -->
        </div>
    </div>
    <script>
        const jsonStr = "{{ json_data | escapejs }}".replaceAll("\'", "\"");
        const data = JSON.parse(jsonStr)['location'];
        const centerStr = "{{ center | escapejs }}".replaceAll("\'", "\"");
        const center = JSON.parse(centerStr);

        const si = "{{ member_info.location.si }}";
        const gu = "{{ member_info.location.gu }}";
        const dong = "{{ member_info.location.dong }}";
    </script>
    <script src="{% static '/js/homepage.js' %}"></script>
{% endblock %}