<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <style>
        .cen{text-align: center;}
        h1{text-align: center;}
        h2{text-align: center;}
        p{text-align: center;}
    </style>
</head>
<body>
    <div class="wrapper">
        <h1>축하합니다!</h1>
        <h1>회원가입이 완료되었습니다.</h1>


<center>
    <a
       class="button"
       style="color:white;background: black;font-size: 1em;border-radius:0.5em; padding:5px 20px;"

       onclick="location.href='{% url 'Member:login' %}'"
{#       href = “{% url 'Member:login' %}”#}
    >로그인하러 가기</a>

</center>

<p class="cen"> * 개인정보 수정은 로그인 후 My Page에서 가능합니다.</p>
    </div>


</body>
</html>