[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/srv/myvenv/bin/uwsgi -i /srv/SogangFriend/.config/uwsgi/mysite.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target

