* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

.wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#f5d300;
}

.login {
    width: 40%;
    height: 60%;
    background: white;
    position: absolute;
    top: 20%;
    left: 45%;
    border-radius: 0px 20px 20px 0px;
    padding-top: 5%;
    float: right;
    display: flex;
    flex-direction: column;
    text-align:start;
}

.img {
    width: 40%;
    height: 60%;
    position: absolute;
    top: 20%;
    border-radius: 20px 0px 0px 20px;
    right: 45%;
}

h2 {
    position: relative;
    top: 100%;
    color: black;
    font-size: 35px;
    font-weight: bold;

    margin-left: 7%;

}
h4 {
    position: relative;
    top: 11%;
    color: black;
    font-size: 20px;
    margin-left: 7%;
}

.submit {
    margin-top: 50px;
    width: 80%;

}

.submit input {
    width: 100%;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 40px;
    background: linear-gradient(to left, rgb(255, 77, 46), rgb(255, 155, 47));
    color: white;
    font-size: 1.2em;
    letter-spacing: 2px;

}

.loginForm {
    position:absolute;
    width:300px;
    height:400px;
    padding: 30px;
    background-color:#FFFFFF;
    text-align:center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
}

.loginForm h2{
    text-align: center;
    margin: 30px;
}

.id {
    width: 90%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
}

.btn {
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 30px;
    width:80%;
    height:40px;
    background: black left;
    background-size: 200%;
    color:white;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
    margin-left: 30px;

}

.form-control{
    position:relative;
    left:40%;
    transform: translateX(-50%);
    width:80%;
    height:40px;
    margin-left: 30px;
    margin-bottom: 5px;
}

.btn:hover {
    background-position: right;
}

.bottomText {
    text-align: center;
}