* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

.wrap {
    width: 100%;
    height: 887px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#f5d300;
}

.find {
  width: 1100px;
  padding: 130px 264px 130px 256px;
  border-radius: 20px;
  background-color: #fff;
}


h2 {
  width: 400px;
  height: 51px;
  margin: 0 10px 50px 116px;
  font-family: NotoSansCJKkr;
  font-size: 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}

.find_pw {
  width: 580px;
  height: 60px;
  margin: 50px 0 20px;
  padding: 20px 239px 20px 232px;
  border-radius: 30px;
  background-color: #000;
  font-family: NotoSansCJKkr;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.flag {
  width: 459px;
  height: 50px;
  margin: 50px 15px 10px 0;
  padding: 15px 343px 15px 20px;
  border-radius: 8px;
  background-color: #fafafa;
}