{% extends 'base.html' %}

{% block content %}

    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>

<script>
    var roomName = "{{ room_name }}";
    var member = "{{ member_pk }}";
    var chatSocket = new WebSocket(
        'wss://' + window.location.host +
        '/ws/chat/' + roomName + '/' + member + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var sender = data['sender'];
        var message = data['message'];
        var timestamp = data['timestamp'];
        document.querySelector('#chat-log').value += (sender + ": " + "\t"
            + message + '\t'
            + '(' + timestamp + ')'
            + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
	console.error(e);
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'sender' : "{{ member_pk }}"
        }));

        messageInputDom.value = '';
    };
</script>
{% endblock %}
