{% extends 'yellow_base.html' %}
{% load static %}
{% block inwrap %}
<link rel="stylesheet" href="{% static '/css/login.css' %}">

<div class="white_box">
    <div class="img_login_box">
        <img class="img_login" src="{% static 'images/login.jpeg' %}" >
    </div>
    <div class="login">
        <div class="login_h2">
            언택트 시대,<br>친구 어떻게 사귀세요?
        </div>
        <br>
        <h4 class="login_h4">지금 내 주변의 서강대생을 만나보세요!</h4>
        <form method = "POST" action = "" id="login-form">
            {% csrf_token %}
            {% for field in form %}
                <input type="{{ field.field.widget.input_type }}" class ="login_input" id="{{ field.id_for_label }}"
                    name="{{ field.name }}" placeholder="{{ field.label }}">
            {% endfor %}
            <span style="color:red;"><strong>{{ error }}</strong> </span>
            <br>
            <button type="button" class="btn" onclick="clicked()">로그인</button>
            <div class="auto-login">
{#                <input class="auto-login-checkbox" type="checkbox" id="auto-login-checkbox"/>#}
                <label class="auto-login-text">
                    <input type="checkbox" name="remember_session"/>
                    <span>자동로그인</span>
{#                        class="auto-login-text" for="auto-login-checkbox" name="remember_session">자동로그인#}
                </label>
                <a class="password" href="{% url 'Member:password' %}">비밀번호 찾기</a>
            </div>
            <br>
            <div class="bottomText">
                아직 회원이 아니신가요? <a href="{% url 'Member:new'%}">  가입하기 </a>
            </div>
        </form>
    </div>
</div>

<script>
    let flag = "{{ activate }}";
    flag = flag === "1";
    window.onload = () => {
        if(flag) {
            Swal.fire({
                icon: 'success',
                html: "{{ message | escapejs }}",
                buttonsStyling:false,
                confirmButtonText: "로그인하러 가기",
                customClass : {
                    confirmButton: 'swal-register-btn',
                    popup: 'swal-custom-container'
                },
                footer: "{{ footer | escapejs }}"
            });
        }
    };

    function clicked() {
        let form = $('#login-form')[0];
        let formData = new FormData(form);
        $.ajax({
            url: "/login/",
            method: "POST",
            data: formData,
            processData: false,
            contentType: false,
            dataType: 'json',
        }).done((data) => {
            if (data['success'] === 1) {
                window.location = "/";
            } else {
                Swal.fire({
                    icon: "error",
                    html: data['error'],
                    buttonsStyling: false,
                    confirmButtonText: "확인",

                    customClass : {
                        confirmButton: 'swal-register-btn',
                        popup: 'swal-custom-container'
                    }
                });
            }
        })
    }
</script>

{% endblock %}