{% extends 'base.html' %}

{% block content %}
<span_mypg>
    마이페이지
</span_mypg><br>
    <div class="pro">
    </div>

    <form class="form_mypg"  method="POST" action="{% url 'Member:my_page' %}">
        {% csrf_token %}
        <span style="color:red;"><strong>{{ error }}</strong> </span>
        {{ form.as_p }}
        <button type="submit" class="btn_mypg">수정 완료</button>
    </form>


{#    <form method = "POST" action = " ">#}
{#            {% csrf_token %}#}
{#                <label for = "{{ field.id_for_label }}">닉네임</label>#}
{#                <input type="{{ form.as_table }}" id="{{ field.id_for_label }}">#}
{##}
{#    <button type="submit" class="btn btn-default">변경 완료</button>#}
{#    </form>#}

{#    <a href="{% url 'Member:password_change' %}">#}
{#        {% csrf_token %}#}
{##}
{#         <button type="button" class="btn btn-default">수정 완료</button>#}
{#    </a>#}

{#        <h2>{{member.profile.username}}</h2>#}
{##}
{#        <h3> 닉네임: {{member.name}} <br></h3>#}
{#        <h3> 학번: {{member.student_number}} <br></h3>#}
{#        <h3> 주소: {{member.location.si.name}} {{ member.location.gu.name }} {{ member.location.dong.name }} <br></h3>#}
{#        <h3> 자기소개: {{member.introduction}} <br></h3>#}


{% endblock %}