{% extends 'yellow_base.html' %}
{% load static %}
{% block inwrap %}

<div class="find">
    <div class="h2"><h2>바꿀 비밀번호를 입력해주세요</h2></div>
        <form method="POST" action="{% url 'Member:password' %}">
        {% csrf_token %}
        <div>
            <span style="color:red;"><strong>{{ error }}</strong> </span>
            {{ form }}
        </div>
        <div id="div_find_pw">
            <button type="submit" class="find_pw" name="recovery_pw">비밀번호 변경</button>
        </div>
    </form>
</div>

{% endblock %}

