{% extends 'yellow_base.html' %}
{% load static %}
{% block inwrap %}

<div class="find">
    <div class="h2"><h2>인증번호를 입력해주세요</h2></div>
    <form method="POST" action="{% url 'Member:password' %}">
        {% csrf_token %}

        <div>
            <span style="color:red;"><strong>{{ error }}</strong> </span>
            {{ form }}
        </div>
        <input type="hidden" id="email" name="email" value="{{ email }}"/>
        <input type="hidden" id="generated_auth_num" name="generated_auth_num" value="{{ auth_num }}"/>
        <input type="hidden" id="flag" name="flag" value="auth_num"/>
        <div id="div_find_pw">
            <button type="submit" class="find_pw" name="recovery_pw">입력</button>
        </div>
    </form>
</div>
{% endblock %}

