{% extends 'yellow_base.html' %}
{% load static %}
{% block inwrap %}

<div class="find">
    <div class="h2"><h2>새 비밀번호 설정하기</h2></div>
        <form method="POST" action="{% url 'Member:password' %}">
        {% csrf_token %}
        <div>
            <br>
            {{ form }}
            <span style="color:red;">{{ error }} </span>
        </div>
        <div id="div_find_pw">
            <button type="submit" class="find_pw" name="recovery_pw">비밀번호 변경</button>
        </div>
    </form>
</div>

{% endblock %}

