
{% block body %}
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-8">
            <h2>{{ person.username }}
                {% if person.username == user.username %}
                    <a href="{% url 'accounts:profile' %}"><button class="btn btn-success">프로필 편집</button></a>
                {% endif %}
                <!-- 다음 포스트에 프로필 편집 페이지를 구성할 것이다. -->
            </h2>
            <p>{{ person.profile.nickname }}</p>
            <p>{{ person.profile.description }}</p>
        </div>
    </div>
{% endblock %}