{% extends 'yellow_base.html' %}
{% load static %}
{% block inwrap %}
<link rel="stylesheet" href="{% static '/css/register.css' %}">

<div class="white_box">
    <div class="img_register_box">
        <img class="img_register" src="{% static 'images/register.jpg' %}" >
    </div>
    <div class="register">
        <span class="register_h2">
            언택트 시대,<br>친구 어떻게 사귀세요?
        </span>
        <form method = "POST" action = "" id="register-form">
            {% csrf_token %}
            <div class="form-group">
                <br>
                <div class="register_h4">
                    *표시는 필수 사항입니다.
                </div>
                <div class="idForm">
                    <input type="text" class="name_input" id="name_input" placeholder="*닉네임" name="name" check_result="fail" required />
                    <input type="button" class="name_btn" id="name_btn" onclick="name_overlap_check()" value ="중복검사"/>
                </div>

                <div class="idForm">
                    <input type="number" class="input" maxlength="2" oninput="numberMaxLength(this);" id="student_number" placeholder="학번을 입력하면 공개됩니다 (ex '18')" name= "student_number">
                </div>

                <div class="idForm">
                    <input type="text" class="input" id="email" placeholder="*서강 이메일" name= "email">
                </div>

                <div class="idForm">
                    <input type="text" class="sinput" id="location" placeholder="*위치를 인증해주세요" name= "location"/>
                    <input type="button" class="sbtn" onclick="coordToAddr()" value="위치 얻기"/>
                </div>

                <div class="idForm">
                    <input type="password" class="input" id="password" placeholder="*비밀번호 (7자 이상 영문자&숫자 조합)" name= "password">
                </div>

                <div class="idForm">
                    <input type= "password" class="input" id="re_password" placeholder="*비밀번호 확인" name = "re_password">
                </div>

                <div class="idForm">
                    <input type="text" class="input" id="introduction" placeholder="간단한 자기소개를 입력해주세요" name= "introduction">
                </div>

                <div class="register_h4">
                    자기소개는 My Page에서 수정 가능합니다.
                </div>
                <br>
                <button id="alertStart" type="button" class="btn" onclick="clicked()">이메일 인증하고 가입 완료</button>

                <div class="bottomText">
                    이미 회원이신가요? <a href="{% url 'login'%}">  로그인하기</a>
                </div>
            </div>
        </form>
    </div>
</div>
    
<script src="{% static '/js/register.js' %}"></script>
{% endblock %}
