{% extends 'base.html' %}
{% load static %}
{% block content %}


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/design2.css' %}?{% now "U" %}">

    <img class="img" img src="{% static 'images/register.jpg' %}" >


    <div class="wrap">
        <div class="register">
            <h2>회원가입하고</h2>
            <h2>인생친구 만들어 볼까요?</h2>
            <h4>*표시는 필수 사항입니다.</h4>

            <div class = "col-12 ">
                <form method = "POST" action = "">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="idForm">
                        </div>
                        <br> <br> <br> <br>

                        <div class="idForm">
                            <input type="text" class="inputshort" id="name" placeholder="*닉네임" name="name">
                            <button type="button" class="btn1" onclick="id_overlap_check()">중복검사</button>
                        </div>

                        <div class="idForm">
                            <input type="number" class="input" id="student_number" placeholder="학번을 입력하면 공개됩니다" name= "student_number">
                        </div>

                        <div class="idForm">
                            <input type="text" class="input" id="email" placeholder="서강 이메일" name= "email">
                        </div>

                        <div class="idForm">
                            <input type="text" class="inputshort" id="location" placeholder="위치를 인증해주세요" name= "location"/>
                            <input type="button" class="btn1" onclick="coordToAddr()" value="위치 얻기"/>
                        </div>

                        <div class="idForm">
                            <input type="password" class="input" id="password" placeholder="비밀번호" name= "password">
                        </div>

                        <div class="idForm">
                            <input type= "password" class="input" id="re_password" placeholder="비밀번호 확인" name = "re_password">
                        </div>

                        <div class="idForm">
                            <input type="text" class="inputlong" id="introduction" placeholder="간단한 자기소개를 입력해주세요" name= "introduction">
                        </div>

                        <h4>자기소개는 My Page에서 수정 가능합니다. </h4>

                        <p><button type="submit" class="btn">이메일 인증하고 가입 완료</button></p>

                        <div class = "col-12 text-center">
                            이미 회원이신가요? <a href="{% url 'Member:login'%}" > 로그인하기 </a>
                        </div>
                    </div>
               </form>
            </div>
        </div>
    </div>

    <script>
    let geocoder = new kakao.maps.services.Geocoder();
    let lat, lng;
        function coordToAddr() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    lat = position.coords.latitude;
                    lng = position.coords.longitude;
                    geocoder.coord2Address(lng, lat, function (result, status) {
                        if (status === kakao.maps.services.Status.OK) {
                            console.log(result);
                            let addr = result[0].address.address_name.split(' ');
                            let GY = ["인천", "부산", "대전", "울산", "광주", "대구"];
                            if (addr[0] === "서울") addr[0] += "특별시";
                            else if (addr[0] === "세종") addr[0] += "특별자치시";
                            else if (addr[0] in GY) addr[0] += "광역시";
                            else addr[0] += "도";
                            addr = addr[0] + " " + addr[1] + " " + addr[2];
                            console.log(addr);
                            document.getElementById("location").value = addr;
                        }
                    });
                }, function (error) {
                    console.error(error);
                }, {
                    enableHighAccuracy: true,
                    maximumAge: 0,
                    timeout: Infinity
                });
            } else {
                alert('GPS NOT SUPPORTED');
            }
        }
    </script>
{% endblock %}
