
{% block content %}

    <div class="cantrion">
        <div class="row justify-content-center">
            <div class="col-md-4 order-md-1">
                <img class="img-fluid rounded-circle" width="250" height="250"
                     src="{% if profile_pic %} {{profile_pic}} {% else %} /static/default.jpg {% endif %}"
                     preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            </div>
            <div class="col-md-2 order-md-2 mb-4">
                <br>
                <h3 class="mb-0">{{ id }}</h3>
                {% if intro %}
                    <p class="card-text mb-auto">{{ intro | linebreaksbr}}</p>
                {% else %}
                {% endif %}
                <br>
                <a href="{% url 'index' %}">Home</a>
            </div>
        </div>

        <div class="album py-5">
            <div class="container">
                <div class="row">
                    {% for post in posts.all %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img src="{{post.create_img.url}}" class="rounded" alt="..." width="100%" height="300">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}